@tailwind base;

a {
  @apply text-blue-400 underline hover:text-blue-300 transition-colors duration-200;
}

html {
  font-size: 0.6rem;
  @screen sm {
    font-size: 1rem;
  }
  @apply bg-black;
}

@tailwind components;

.bg-background {
  background-image: radial-gradient(circle, theme('colors.blue.400 / 0%') 60%, theme('colors.neutral.950 / 40%') 100%),
                    linear-gradient(217deg, theme('colors.gengar.950 / 50%') 30%, theme('colors.blue.950 / 60%') 60%, theme('colors.indigo.950 / 70%') 90%),
                    linear-gradient(135deg, theme('colors.violet.950 / 60%') 10%, theme('colors.sky.950 / 80%') 50%, theme('colors.purple.950 / 40%') 80%);
  background-size: 100% 100%, 400% 400%, 400%, 400%;
  animation: none, gradient-cycle 24s cubic-bezier(.21,.5,.74,.46) infinite;
  background-blend-mode: normal, normal, normal;
}

.animation-paused:hover {
  -webkit-animation-play-state: paused !important; /* For older Safari and iOS Safari */
  -moz-animation-play-state: paused !important; /* For older Firefox versions */
  -ms-animation-play-state: paused !important; /* For older Internet Explorer versions */
  -o-animation-play-state: paused !important; /* For older Opera versions */
  animation-play-state: paused !important; /* Standard syntax */
}

.carousel-animation {
  animation: slide 20s linear infinite;
}

#particles-js canvas {
  display: absolute;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
}

@tailwind utilities;

@keyframes gradient-cycle {
	0% {
		background-position: 100% 100%, 0% 50%, 0% 50%;
	}
  25% {
    background-position: 100% 100%, 50% 50%, 32% 50%;
  }
	50% {
		background-position: 100% 100%, 100% 50%, 100% 50%;
	}
  75% {
    background-position: 100% 100%, 72% 50%, 77% 50%;
  }
	100% {
		background-position: 100% 100%, 0% 50%, 0% 50%;
	}
}

@keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: -200.5rem;
  }
}


@screen sm {
  @keyframes slide {
    0% {
      left: 0;
    }
    100% {
      left: -175.5rem;
    }
  }
}

